<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trsd.mapper.CreditIdentityMapper">
  <resultMap id="BaseResultMap" type="com.trsd.entities.CreditIdentity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="authid" jdbcType="BIGINT" property="authid" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="authtime" jdbcType="TIMESTAMP" property="authtime" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="certificate_no" jdbcType="VARCHAR" property="certificateNo" />
    <result column="idcard_front" jdbcType="VARCHAR" property="idcardFront" />
    <result column="idcard_back" jdbcType="VARCHAR" property="idcardBack" />
    <result column="ispass" jdbcType="BIT" property="ispass" />
    <result column="provider" jdbcType="VARCHAR" property="provider" />
    <result column="finishtime" jdbcType="TIMESTAMP" property="finishtime" />
    <result column="cost" jdbcType="DECIMAL" property="cost" />
    <result column="score" jdbcType="DECIMAL" property="score" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    authid, user_id, authtime, real_name, certificate_no, idcard_front, idcard_back, 
    ispass, provider, finishtime, cost, score, status
  </sql>
</mapper>