<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trsd.mapper.CreditMobileMapper">
  <resultMap id="BaseResultMap" type="com.trsd.entities.CreditMobile">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="authid" jdbcType="BIGINT" property="authid" />
    <result column="userId" jdbcType="BIGINT" property="userid" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="ispass" jdbcType="BIT" property="ispass" />
    <result column="blance" jdbcType="DECIMAL" property="blance" />
    <result column="vip_score" jdbcType="VARCHAR" property="vipScore" />
    <result column="isp" jdbcType="VARCHAR" property="isp" />
    <result column="jointime" jdbcType="TIMESTAMP" property="jointime" />
    <result column="netage" jdbcType="VARCHAR" property="netage" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="certificate_no" jdbcType="VARCHAR" property="certificateNo" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="vip_level" jdbcType="VARCHAR" property="vipLevel" />
    <result column="provider" jdbcType="VARCHAR" property="provider" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="finishtime" jdbcType="TIMESTAMP" property="finishtime" />
    <result column="freezeid" jdbcType="BIGINT" property="freezeid" />
    <result column="cost" jdbcType="DECIMAL" property="cost" />
    <result column="score" jdbcType="DECIMAL" property="score" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="charge_status" jdbcType="INTEGER" property="chargeStatus" />
    <result column="score_status" jdbcType="INTEGER" property="scoreStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    authid, userId, phone, createtime, ispass, blance, vip_score, isp, jointime, netage, 
    location, real_name, certificate_no, address, vip_level, provider, token, finishtime, 
    freezeid, cost, score, status, charge_status, score_status
  </sql>
</mapper>