<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trsd.mapper.CreditUserfinishInfoMapper" >
  <resultMap id="BaseResultMap" type="com.trsd.entities.CreditUserfinishInfo" >
    <!--          -->
    <id column="rec_id" property="recId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="credit_type" property="creditType" jdbcType="VARCHAR" />
    <result column="provider" property="provider" jdbcType="VARCHAR" />
    <result column="finishtime" property="finishtime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--          -->
    rec_id, user_id, credit_type, provider, finishtime, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--          -->
    select 
    <include refid="Base_Column_List" />
    from t_credit_userfinish
    where rec_id = #{recId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--          -->
    delete from t_credit_userfinish
    where rec_id = #{recId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.trsd.entities.CreditUserfinishInfo" >
    <!--          -->
    insert into t_credit_userfinish (rec_id, user_id, credit_type, 
      provider, finishtime, status
      )
    values (#{recId,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{creditType,jdbcType=VARCHAR}, 
      #{provider,jdbcType=VARCHAR}, #{finishtime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.trsd.entities.CreditUserfinishInfo" >
    <!--          -->
    insert into t_credit_userfinish
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recId != null" >
        rec_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="creditType != null" >
        credit_type,
      </if>
      <if test="provider != null" >
        provider,
      </if>
      <if test="finishtime != null" >
        finishtime,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recId != null" >
        #{recId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="creditType != null" >
        #{creditType,jdbcType=VARCHAR},
      </if>
      <if test="provider != null" >
        #{provider,jdbcType=VARCHAR},
      </if>
      <if test="finishtime != null" >
        #{finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.trsd.entities.CreditUserfinishInfo" >
    <!--          -->
    update t_credit_userfinish
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="creditType != null" >
        credit_type = #{creditType,jdbcType=VARCHAR},
      </if>
      <if test="provider != null" >
        provider = #{provider,jdbcType=VARCHAR},
      </if>
      <if test="finishtime != null" >
        finishtime = #{finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where rec_id = #{recId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.trsd.entities.CreditUserfinishInfo" >
    <!--          -->
    update t_credit_userfinish
    set user_id = #{userId,jdbcType=BIGINT},
      credit_type = #{creditType,jdbcType=VARCHAR},
      provider = #{provider,jdbcType=VARCHAR},
      finishtime = #{finishtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT}
    where rec_id = #{recId,jdbcType=INTEGER}
  </update>
</mapper>