<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trsd.mapper.CreditItemInfoMapper" >
  <resultMap id="BaseResultMap" type="com.trsd.entities.CreditItemInfo" >
    <!--          -->
    <id column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="channel" property="channel" jdbcType="VARCHAR" />
    <result column="cost" property="cost" jdbcType="DECIMAL" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="isrepeat" property="isrepeat" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--          -->
    item_id, type_id, item_name, channel, cost, score, isrepeat, status, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--          -->
    select 
    <include refid="Base_Column_List" />
    from t_credit_item
    where item_id = #{itemId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--          -->
    delete from t_credit_item
    where item_id = #{itemId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.trsd.entities.CreditItemInfo" >
    <!--          -->
    insert into t_credit_item (item_id, type_id, item_name, 
      channel, cost, score, 
      isrepeat, status, remark)
    values (#{itemId,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, #{itemName,jdbcType=VARCHAR}, 
      #{channel,jdbcType=VARCHAR}, #{cost,jdbcType=DECIMAL}, #{score,jdbcType=INTEGER}, 
      #{isrepeat,jdbcType=BIT}, #{status,jdbcType=BIT}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.trsd.entities.CreditItemInfo" >
    <!--          -->
    insert into t_credit_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="itemName != null" >
        item_name,
      </if>
      <if test="channel != null" >
        channel,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="isrepeat != null" >
        isrepeat,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DECIMAL},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="isrepeat != null" >
        #{isrepeat,jdbcType=BIT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.trsd.entities.CreditItemInfo" >
    <!--          -->
    update t_credit_item
    <set >
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="itemName != null" >
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=DECIMAL},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="isrepeat != null" >
        isrepeat = #{isrepeat,jdbcType=BIT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.trsd.entities.CreditItemInfo" >
    <!--          -->
    update t_credit_item
    set type_id = #{typeId,jdbcType=INTEGER},
      item_name = #{itemName,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=VARCHAR},
      cost = #{cost,jdbcType=DECIMAL},
      score = #{score,jdbcType=INTEGER},
      isrepeat = #{isrepeat,jdbcType=BIT},
      status = #{status,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR}
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
</mapper>