<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trsd.mapper.CreditUserfinishMapper">
  <resultMap id="BaseResultMap" type="com.trsd.entities.CreditUserfinish">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="rec_id" jdbcType="INTEGER" property="recId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="credit_type" jdbcType="VARCHAR" property="creditType" />
    <result column="provider" jdbcType="VARCHAR" property="provider" />
    <result column="finishtime" jdbcType="TIMESTAMP" property="finishtime" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    rec_id, user_id, credit_type, provider, finishtime, status
  </sql>
</mapper>