<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trsd.mapper.CreditMobiletopInfoMapper" >
  <resultMap id="BaseResultMap" type="com.trsd.entities.CreditMobiletopInfo" >
    <!--          -->
    <id column="recordid" property="recordid" jdbcType="VARCHAR" />
    <result column="authid" property="authid" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="BIGINT" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="callnumber" property="callnumber" jdbcType="VARCHAR" />
    <result column="calltime" property="calltime" jdbcType="TINYINT" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="callmin" property="callmin" jdbcType="TINYINT" />
    <result column="firstcalltime" property="firstcalltime" jdbcType="TIMESTAMP" />
    <result column="lastcalltime" property="lastcalltime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--          -->
    recordid, authid, userId, phone, createtime, callnumber, calltime, location, callmin, 
    firstcalltime, lastcalltime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    <!--          -->
    select 
    <include refid="Base_Column_List" />
    from t_credit_mobiletop
    where recordid = #{recordid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    <!--          -->
    delete from t_credit_mobiletop
    where recordid = #{recordid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.trsd.entities.CreditMobiletopInfo" >
    <!--          -->
    insert into t_credit_mobiletop (recordid, authid, userId, 
      phone, createtime, callnumber, 
      calltime, location, callmin, 
      firstcalltime, lastcalltime)
    values (#{recordid,jdbcType=VARCHAR}, #{authid,jdbcType=VARCHAR}, #{userid,jdbcType=BIGINT}, 
      #{phone,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{callnumber,jdbcType=VARCHAR}, 
      #{calltime,jdbcType=TINYINT}, #{location,jdbcType=VARCHAR}, #{callmin,jdbcType=TINYINT}, 
      #{firstcalltime,jdbcType=TIMESTAMP}, #{lastcalltime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.trsd.entities.CreditMobiletopInfo" >
    <!--          -->
    insert into t_credit_mobiletop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordid != null" >
        recordid,
      </if>
      <if test="authid != null" >
        authid,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="callnumber != null" >
        callnumber,
      </if>
      <if test="calltime != null" >
        calltime,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="callmin != null" >
        callmin,
      </if>
      <if test="firstcalltime != null" >
        firstcalltime,
      </if>
      <if test="lastcalltime != null" >
        lastcalltime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordid != null" >
        #{recordid,jdbcType=VARCHAR},
      </if>
      <if test="authid != null" >
        #{authid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="callnumber != null" >
        #{callnumber,jdbcType=VARCHAR},
      </if>
      <if test="calltime != null" >
        #{calltime,jdbcType=TINYINT},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="callmin != null" >
        #{callmin,jdbcType=TINYINT},
      </if>
      <if test="firstcalltime != null" >
        #{firstcalltime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastcalltime != null" >
        #{lastcalltime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.trsd.entities.CreditMobiletopInfo" >
    <!--          -->
    update t_credit_mobiletop
    <set >
      <if test="authid != null" >
        authid = #{authid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="callnumber != null" >
        callnumber = #{callnumber,jdbcType=VARCHAR},
      </if>
      <if test="calltime != null" >
        calltime = #{calltime,jdbcType=TINYINT},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="callmin != null" >
        callmin = #{callmin,jdbcType=TINYINT},
      </if>
      <if test="firstcalltime != null" >
        firstcalltime = #{firstcalltime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastcalltime != null" >
        lastcalltime = #{lastcalltime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where recordid = #{recordid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.trsd.entities.CreditMobiletopInfo" >
    <!--          -->
    update t_credit_mobiletop
    set authid = #{authid,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=BIGINT},
      phone = #{phone,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      callnumber = #{callnumber,jdbcType=VARCHAR},
      calltime = #{calltime,jdbcType=TINYINT},
      location = #{location,jdbcType=VARCHAR},
      callmin = #{callmin,jdbcType=TINYINT},
      firstcalltime = #{firstcalltime,jdbcType=TIMESTAMP},
      lastcalltime = #{lastcalltime,jdbcType=TIMESTAMP}
    where recordid = #{recordid,jdbcType=VARCHAR}
  </update>
</mapper>