<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trsd.mapper.LendShortConfigMapper">
  <resultMap id="BaseResultMap" type="com.trsd.entities.LendShortConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="lend_short_config_id" jdbcType="BIGINT" property="lendShortConfigId" />
    <result column="lend_short_scheme_id" jdbcType="BIGINT" property="lendShortSchemeId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="value" jdbcType="DECIMAL" property="value" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="handle" jdbcType="VARCHAR" property="handle" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    lend_short_config_id, lend_short_scheme_id, type, value, create_time, handle, flag
  </sql>
</mapper>