<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trsd.mapper.LendSchemeMapper">
  <resultMap id="BaseResultMap" type="com.trsd.entities.LendScheme">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="lend_scheme_id" jdbcType="BIGINT" property="lendSchemeId" />
    <result column="lend_scheme_key" jdbcType="VARCHAR" property="lendSchemeKey" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="scheme_order" jdbcType="INTEGER" property="schemeOrder" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="necessary_count" jdbcType="INTEGER" property="necessaryCount" />
    <result column="lend_type" jdbcType="INTEGER" property="lendType" />
    <result column="day_limit_account" jdbcType="DECIMAL" property="dayLimitAccount" />
    <result column="single_limit_account" jdbcType="DECIMAL" property="singleLimitAccount" />
    <result column="today_lend_money" jdbcType="DECIMAL" property="todayLendMoney" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    lend_scheme_id, lend_scheme_key, user_id, type, status, scheme_order, create_time, 
    necessary_count, lend_type, day_limit_account, single_limit_account, today_lend_money
  </sql>
</mapper>