<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trsd.mapper.LoanPaybackInfoMapper" >
  <resultMap id="BaseResultMap" type="com.trsd.entities.LoanPaybackInfo" >
    <!--          -->
    <id column="loan_payback_id" property="loanPaybackId" jdbcType="BIGINT" />
    <result column="loan_long_id" property="loanLongId" jdbcType="BIGINT" />
    <result column="repayment_principal" property="repaymentPrincipal" jdbcType="DECIMAL" />
    <result column="repayment_interest" property="repaymentInterest" jdbcType="DECIMAL" />
    <result column="repayment_penalty" property="repaymentPenalty" jdbcType="DECIMAL" />
    <result column="repayment_time" property="repaymentTime" jdbcType="TIMESTAMP" />
    <result column="payback_principal" property="paybackPrincipal" jdbcType="DECIMAL" />
    <result column="payback_interest" property="paybackInterest" jdbcType="DECIMAL" />
    <result column="payback_penalty" property="paybackPenalty" jdbcType="DECIMAL" />
    <result column="payback_time" property="paybackTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="current_period" property="currentPeriod" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--          -->
    loan_payback_id, loan_long_id, repayment_principal, repayment_interest, repayment_penalty, 
    repayment_time, payback_principal, payback_interest, payback_penalty, payback_time, 
    status, current_period, create_time, update_time, version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    <!--          -->
    select 
    <include refid="Base_Column_List" />
    from t_loan_payback
    where loan_payback_id = #{loanPaybackId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    <!--          -->
    delete from t_loan_payback
    where loan_payback_id = #{loanPaybackId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.trsd.entities.LoanPaybackInfo" >
    <!--          -->
    insert into t_loan_payback (loan_payback_id, loan_long_id, repayment_principal, 
      repayment_interest, repayment_penalty, repayment_time, 
      payback_principal, payback_interest, payback_penalty, 
      payback_time, status, current_period, 
      create_time, update_time, version
      )
    values (#{loanPaybackId,jdbcType=BIGINT}, #{loanLongId,jdbcType=BIGINT}, #{repaymentPrincipal,jdbcType=DECIMAL}, 
      #{repaymentInterest,jdbcType=DECIMAL}, #{repaymentPenalty,jdbcType=DECIMAL}, #{repaymentTime,jdbcType=TIMESTAMP}, 
      #{paybackPrincipal,jdbcType=DECIMAL}, #{paybackInterest,jdbcType=DECIMAL}, #{paybackPenalty,jdbcType=DECIMAL}, 
      #{paybackTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{currentPeriod,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{version,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.trsd.entities.LoanPaybackInfo" >
    <!--          -->
    insert into t_loan_payback
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="loanPaybackId != null" >
        loan_payback_id,
      </if>
      <if test="loanLongId != null" >
        loan_long_id,
      </if>
      <if test="repaymentPrincipal != null" >
        repayment_principal,
      </if>
      <if test="repaymentInterest != null" >
        repayment_interest,
      </if>
      <if test="repaymentPenalty != null" >
        repayment_penalty,
      </if>
      <if test="repaymentTime != null" >
        repayment_time,
      </if>
      <if test="paybackPrincipal != null" >
        payback_principal,
      </if>
      <if test="paybackInterest != null" >
        payback_interest,
      </if>
      <if test="paybackPenalty != null" >
        payback_penalty,
      </if>
      <if test="paybackTime != null" >
        payback_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="currentPeriod != null" >
        current_period,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="loanPaybackId != null" >
        #{loanPaybackId,jdbcType=BIGINT},
      </if>
      <if test="loanLongId != null" >
        #{loanLongId,jdbcType=BIGINT},
      </if>
      <if test="repaymentPrincipal != null" >
        #{repaymentPrincipal,jdbcType=DECIMAL},
      </if>
      <if test="repaymentInterest != null" >
        #{repaymentInterest,jdbcType=DECIMAL},
      </if>
      <if test="repaymentPenalty != null" >
        #{repaymentPenalty,jdbcType=DECIMAL},
      </if>
      <if test="repaymentTime != null" >
        #{repaymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paybackPrincipal != null" >
        #{paybackPrincipal,jdbcType=DECIMAL},
      </if>
      <if test="paybackInterest != null" >
        #{paybackInterest,jdbcType=DECIMAL},
      </if>
      <if test="paybackPenalty != null" >
        #{paybackPenalty,jdbcType=DECIMAL},
      </if>
      <if test="paybackTime != null" >
        #{paybackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="currentPeriod != null" >
        #{currentPeriod,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.trsd.entities.LoanPaybackInfo" >
    <!--          -->
    update t_loan_payback
    <set >
      <if test="loanLongId != null" >
        loan_long_id = #{loanLongId,jdbcType=BIGINT},
      </if>
      <if test="repaymentPrincipal != null" >
        repayment_principal = #{repaymentPrincipal,jdbcType=DECIMAL},
      </if>
      <if test="repaymentInterest != null" >
        repayment_interest = #{repaymentInterest,jdbcType=DECIMAL},
      </if>
      <if test="repaymentPenalty != null" >
        repayment_penalty = #{repaymentPenalty,jdbcType=DECIMAL},
      </if>
      <if test="repaymentTime != null" >
        repayment_time = #{repaymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paybackPrincipal != null" >
        payback_principal = #{paybackPrincipal,jdbcType=DECIMAL},
      </if>
      <if test="paybackInterest != null" >
        payback_interest = #{paybackInterest,jdbcType=DECIMAL},
      </if>
      <if test="paybackPenalty != null" >
        payback_penalty = #{paybackPenalty,jdbcType=DECIMAL},
      </if>
      <if test="paybackTime != null" >
        payback_time = #{paybackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="currentPeriod != null" >
        current_period = #{currentPeriod,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=BIGINT},
      </if>
    </set>
    where loan_payback_id = #{loanPaybackId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.trsd.entities.LoanPaybackInfo" >
    <!--          -->
    update t_loan_payback
    set loan_long_id = #{loanLongId,jdbcType=BIGINT},
      repayment_principal = #{repaymentPrincipal,jdbcType=DECIMAL},
      repayment_interest = #{repaymentInterest,jdbcType=DECIMAL},
      repayment_penalty = #{repaymentPenalty,jdbcType=DECIMAL},
      repayment_time = #{repaymentTime,jdbcType=TIMESTAMP},
      payback_principal = #{paybackPrincipal,jdbcType=DECIMAL},
      payback_interest = #{paybackInterest,jdbcType=DECIMAL},
      payback_penalty = #{paybackPenalty,jdbcType=DECIMAL},
      payback_time = #{paybackTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      current_period = #{currentPeriod,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=BIGINT}
    where loan_payback_id = #{loanPaybackId,jdbcType=BIGINT}
  </update>
</mapper>