<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trsd.mapper.LoanShortInfoMapper" >
  <resultMap id="BaseResultMap" type="com.trsd.entities.LoanShortInfo" >
    <!--          -->
    <id column="loan_short_id" property="loanShortId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="apply_money" property="applyMoney" jdbcType="DECIMAL" />
    <result column="borrowed_money" property="borrowedMoney" jdbcType="DECIMAL" />
    <result column="loan_money" property="loanMoney" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="limit_time" property="limitTime" jdbcType="TIMESTAMP" />
    <result column="repayback_time" property="repaybackTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="rate" property="rate" jdbcType="DECIMAL" />
    <result column="loan_days" property="loanDays" jdbcType="INTEGER" />
    <result column="repayment_principal" property="repaymentPrincipal" jdbcType="DECIMAL" />
    <result column="repayment_interest" property="repaymentInterest" jdbcType="DECIMAL" />
    <result column="repayment_penalty" property="repaymentPenalty" jdbcType="DECIMAL" />
    <result column="payback_principal" property="paybackPrincipal" jdbcType="DECIMAL" />
    <result column="payback_interest" property="paybackInterest" jdbcType="DECIMAL" />
    <result column="payback_penalty" property="paybackPenalty" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--          -->
    loan_short_id, user_id, apply_money, borrowed_money, loan_money, status, limit_time, 
    repayback_time, create_time, update_time, version, memo, rate, loan_days, repayment_principal, 
    repayment_interest, repayment_penalty, payback_principal, payback_interest, payback_penalty
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    <!--          -->
    select 
    <include refid="Base_Column_List" />
    from t_loan_short
    where loan_short_id = #{loanShortId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    <!--          -->
    delete from t_loan_short
    where loan_short_id = #{loanShortId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.trsd.entities.LoanShortInfo" >
    <!--          -->
    insert into t_loan_short (loan_short_id, user_id, apply_money, 
      borrowed_money, loan_money, status, 
      limit_time, repayback_time, create_time, 
      update_time, version, memo, 
      rate, loan_days, repayment_principal, 
      repayment_interest, repayment_penalty, payback_principal, 
      payback_interest, payback_penalty)
    values (#{loanShortId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{applyMoney,jdbcType=DECIMAL}, 
      #{borrowedMoney,jdbcType=DECIMAL}, #{loanMoney,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, 
      #{limitTime,jdbcType=TIMESTAMP}, #{repaybackTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{version,jdbcType=BIGINT}, #{memo,jdbcType=VARCHAR}, 
      #{rate,jdbcType=DECIMAL}, #{loanDays,jdbcType=INTEGER}, #{repaymentPrincipal,jdbcType=DECIMAL}, 
      #{repaymentInterest,jdbcType=DECIMAL}, #{repaymentPenalty,jdbcType=DECIMAL}, #{paybackPrincipal,jdbcType=DECIMAL}, 
      #{paybackInterest,jdbcType=DECIMAL}, #{paybackPenalty,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.trsd.entities.LoanShortInfo" >
    <!--          -->
    insert into t_loan_short
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="loanShortId != null" >
        loan_short_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="applyMoney != null" >
        apply_money,
      </if>
      <if test="borrowedMoney != null" >
        borrowed_money,
      </if>
      <if test="loanMoney != null" >
        loan_money,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="limitTime != null" >
        limit_time,
      </if>
      <if test="repaybackTime != null" >
        repayback_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="rate != null" >
        rate,
      </if>
      <if test="loanDays != null" >
        loan_days,
      </if>
      <if test="repaymentPrincipal != null" >
        repayment_principal,
      </if>
      <if test="repaymentInterest != null" >
        repayment_interest,
      </if>
      <if test="repaymentPenalty != null" >
        repayment_penalty,
      </if>
      <if test="paybackPrincipal != null" >
        payback_principal,
      </if>
      <if test="paybackInterest != null" >
        payback_interest,
      </if>
      <if test="paybackPenalty != null" >
        payback_penalty,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="loanShortId != null" >
        #{loanShortId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="applyMoney != null" >
        #{applyMoney,jdbcType=DECIMAL},
      </if>
      <if test="borrowedMoney != null" >
        #{borrowedMoney,jdbcType=DECIMAL},
      </if>
      <if test="loanMoney != null" >
        #{loanMoney,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="limitTime != null" >
        #{limitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="repaybackTime != null" >
        #{repaybackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=BIGINT},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="rate != null" >
        #{rate,jdbcType=DECIMAL},
      </if>
      <if test="loanDays != null" >
        #{loanDays,jdbcType=INTEGER},
      </if>
      <if test="repaymentPrincipal != null" >
        #{repaymentPrincipal,jdbcType=DECIMAL},
      </if>
      <if test="repaymentInterest != null" >
        #{repaymentInterest,jdbcType=DECIMAL},
      </if>
      <if test="repaymentPenalty != null" >
        #{repaymentPenalty,jdbcType=DECIMAL},
      </if>
      <if test="paybackPrincipal != null" >
        #{paybackPrincipal,jdbcType=DECIMAL},
      </if>
      <if test="paybackInterest != null" >
        #{paybackInterest,jdbcType=DECIMAL},
      </if>
      <if test="paybackPenalty != null" >
        #{paybackPenalty,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.trsd.entities.LoanShortInfo" >
    <!--          -->
    update t_loan_short
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="applyMoney != null" >
        apply_money = #{applyMoney,jdbcType=DECIMAL},
      </if>
      <if test="borrowedMoney != null" >
        borrowed_money = #{borrowedMoney,jdbcType=DECIMAL},
      </if>
      <if test="loanMoney != null" >
        loan_money = #{loanMoney,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="limitTime != null" >
        limit_time = #{limitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="repaybackTime != null" >
        repayback_time = #{repaybackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="rate != null" >
        rate = #{rate,jdbcType=DECIMAL},
      </if>
      <if test="loanDays != null" >
        loan_days = #{loanDays,jdbcType=INTEGER},
      </if>
      <if test="repaymentPrincipal != null" >
        repayment_principal = #{repaymentPrincipal,jdbcType=DECIMAL},
      </if>
      <if test="repaymentInterest != null" >
        repayment_interest = #{repaymentInterest,jdbcType=DECIMAL},
      </if>
      <if test="repaymentPenalty != null" >
        repayment_penalty = #{repaymentPenalty,jdbcType=DECIMAL},
      </if>
      <if test="paybackPrincipal != null" >
        payback_principal = #{paybackPrincipal,jdbcType=DECIMAL},
      </if>
      <if test="paybackInterest != null" >
        payback_interest = #{paybackInterest,jdbcType=DECIMAL},
      </if>
      <if test="paybackPenalty != null" >
        payback_penalty = #{paybackPenalty,jdbcType=DECIMAL},
      </if>
    </set>
    where loan_short_id = #{loanShortId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.trsd.entities.LoanShortInfo" >
    <!--          -->
    update t_loan_short
    set user_id = #{userId,jdbcType=BIGINT},
      apply_money = #{applyMoney,jdbcType=DECIMAL},
      borrowed_money = #{borrowedMoney,jdbcType=DECIMAL},
      loan_money = #{loanMoney,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      limit_time = #{limitTime,jdbcType=TIMESTAMP},
      repayback_time = #{repaybackTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=BIGINT},
      memo = #{memo,jdbcType=VARCHAR},
      rate = #{rate,jdbcType=DECIMAL},
      loan_days = #{loanDays,jdbcType=INTEGER},
      repayment_principal = #{repaymentPrincipal,jdbcType=DECIMAL},
      repayment_interest = #{repaymentInterest,jdbcType=DECIMAL},
      repayment_penalty = #{repaymentPenalty,jdbcType=DECIMAL},
      payback_principal = #{paybackPrincipal,jdbcType=DECIMAL},
      payback_interest = #{paybackInterest,jdbcType=DECIMAL},
      payback_penalty = #{paybackPenalty,jdbcType=DECIMAL}
    where loan_short_id = #{loanShortId,jdbcType=BIGINT}
  </update>
</mapper>