<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trsd.mapper.LoanLongDetailMapper">
  <resultMap id="BaseResultMap" type="com.trsd.entities.LoanLongDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="loan_long_detail" jdbcType="BIGINT" property="loanLongDetail" />
    <result column="loan_payback_id" jdbcType="BIGINT" property="loanPaybackId" />
    <result column="payback_money" jdbcType="DECIMAL" property="paybackMoney" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    loan_long_detail, loan_payback_id, payback_money, status, type, createtime
  </sql>
</mapper>