<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trsd.mapper.LoanShortConfigInfoMapper" >
  <resultMap id="BaseResultMap" type="com.trsd.entities.LoanShortConfigInfo" >
    <!--          -->
    <id column="loan_short_config_id" property="loanShortConfigId" jdbcType="BIGINT" />
    <result column="loan_short_id" property="loanShortId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="value" property="value" jdbcType="BIGINT" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--          -->
    loan_short_config_id, loan_short_id, type, value, createtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    <!--          -->
    select 
    <include refid="Base_Column_List" />
    from t_loan_short_config
    where loan_short_config_id = #{loanShortConfigId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    <!--          -->
    delete from t_loan_short_config
    where loan_short_config_id = #{loanShortConfigId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.trsd.entities.LoanShortConfigInfo" >
    <!--          -->
    insert into t_loan_short_config (loan_short_config_id, loan_short_id, type, 
      value, createtime)
    values (#{loanShortConfigId,jdbcType=BIGINT}, #{loanShortId,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, 
      #{value,jdbcType=BIGINT}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.trsd.entities.LoanShortConfigInfo" >
    <!--          -->
    insert into t_loan_short_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="loanShortConfigId != null" >
        loan_short_config_id,
      </if>
      <if test="loanShortId != null" >
        loan_short_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="loanShortConfigId != null" >
        #{loanShortConfigId,jdbcType=BIGINT},
      </if>
      <if test="loanShortId != null" >
        #{loanShortId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="value != null" >
        #{value,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.trsd.entities.LoanShortConfigInfo" >
    <!--          -->
    update t_loan_short_config
    <set >
      <if test="loanShortId != null" >
        loan_short_id = #{loanShortId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where loan_short_config_id = #{loanShortConfigId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.trsd.entities.LoanShortConfigInfo" >
    <!--          -->
    update t_loan_short_config
    set loan_short_id = #{loanShortId,jdbcType=BIGINT},
      type = #{type,jdbcType=INTEGER},
      value = #{value,jdbcType=BIGINT},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where loan_short_config_id = #{loanShortConfigId,jdbcType=BIGINT}
  </update>
</mapper>