<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trsd.mapper.LoanLongSchemeMapper">
  <resultMap id="BaseResultMap" type="com.trsd.entities.LoanLongScheme">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="loan_short_config_id" jdbcType="BIGINT" property="loanShortConfigId" />
    <result column="loan_long_id" jdbcType="BIGINT" property="loanLongId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="value" jdbcType="DECIMAL" property="value" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="handle" jdbcType="VARCHAR" property="handle" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    loan_short_config_id, loan_long_id, type, value, create_time, handle, flag
  </sql>
</mapper>