<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trsd.mapper.MessageTemplateMapper">
  <resultMap id="BaseResultMap" type="com.trsd.entities.MessageTemplate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="message_template_id" jdbcType="BIGINT" property="messageTemplateId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="push_msg" jdbcType="VARCHAR" property="pushMsg" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    message_template_id, code, type, content, create_time, status, title, push_msg
  </sql>
</mapper>