<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trsd.mapper.RechargeEasypayMapper">
  <resultMap id="BaseResultMap" type="com.trsd.entities.RechargeEasypay">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="event_key" jdbcType="VARCHAR" property="eventKey" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="business_type" jdbcType="INTEGER" property="businessType" />
    <result column="real_amount" jdbcType="DECIMAL" property="realAmount" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="notify_time" jdbcType="TIMESTAMP" property="notifyTime" />
    <result column="success_time" jdbcType="TIMESTAMP" property="successTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, order_no, event_key, pay_type, business_type, real_amount, user_id, status, version, 
    remark, amount, create_time, notify_time, success_time, update_time, pay_time
  </sql>
</mapper>