<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trsd.mapper.UserLoginlogMapper">
  <resultMap id="BaseResultMap" type="com.trsd.entities.UserLoginlog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_login_id" jdbcType="BIGINT" property="userLoginId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
    <result column="login_location" jdbcType="VARCHAR" property="loginLocation" />
    <result column="login_udid" jdbcType="VARCHAR" property="loginUdid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    user_login_id, user_id, login_time, login_ip, login_location, login_udid
  </sql>
</mapper>