<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trsd.mapper.UserPushMapper">
  <resultMap id="BaseResultMap" type="com.trsd.entities.UserPush">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_push_id" jdbcType="BIGINT" property="userPushId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="push_title" jdbcType="VARCHAR" property="pushTitle" />
    <result column="push_content" jdbcType="VARCHAR" property="pushContent" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    user_push_id, user_id, push_title, push_content, create_time, type
  </sql>
</mapper>