<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trsd.mapper.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.trsd.entities.UserInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="certificate_no" jdbcType="CHAR" property="certificateNo" />
    <result column="gender" jdbcType="CHAR" property="gender" />
    <result column="brithday" jdbcType="TIMESTAMP" property="brithday" />
    <result column="login_password" jdbcType="VARCHAR" property="loginPassword" />
    <result column="trade_password" jdbcType="VARCHAR" property="tradePassword" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="weixin" jdbcType="VARCHAR" property="weixin" />
    <result column="fans_count" jdbcType="INTEGER" property="fansCount" />
    <result column="credit_score" jdbcType="DECIMAL" property="creditScore" />
    <result column="zmxy_score" jdbcType="DECIMAL" property="zmxyScore" />
    <result column="user_level" jdbcType="INTEGER" property="userLevel" />
    <result column="financier_level" jdbcType="INTEGER" property="financierLevel" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="headpic" jdbcType="VARCHAR" property="headpic" />
    <result column="invite_code" jdbcType="VARCHAR" property="inviteCode" />
    <result column="inviter_id" jdbcType="BIGINT" property="inviterId" />
    <result column="qq_open_id" jdbcType="VARCHAR" property="qqOpenId" />
    <result column="weixin_unionid" jdbcType="VARCHAR" property="weixinUnionid" />
    <result column="weixin_info" jdbcType="VARCHAR" property="weixinInfo" />
    <result column="encryptstr" jdbcType="VARCHAR" property="encryptstr" />
    <result column="encryptstr1" jdbcType="VARCHAR" property="encryptstr1" />
    <result column="encryptstr2" jdbcType="VARCHAR" property="encryptstr2" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
    <result column="last_login_location" jdbcType="VARCHAR" property="lastLoginLocation" />
    <result column="last_login_udid" jdbcType="VARCHAR" property="lastLoginUdid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="follow_count" jdbcType="INTEGER" property="followCount" />
    <result column="invite_one_count" jdbcType="INTEGER" property="inviteOneCount" />
    <result column="invite_two_count" jdbcType="INTEGER" property="inviteTwoCount" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="inviter_code" jdbcType="VARCHAR" property="inviterCode" />
    <result column="is_follow" jdbcType="INTEGER" property="isFollow" />
    <result column="borrow_flag" jdbcType="VARCHAR" property="borrowFlag" />
    <result column="invest_flag" jdbcType="VARCHAR" property="investFlag" />
    <result column="user_key" jdbcType="VARCHAR" property="userKey" />
    <result column="auth_status" jdbcType="INTEGER" property="authStatus" />
    <result column="push_cid" jdbcType="VARCHAR" property="pushCid" />
    <result column="push_token" jdbcType="VARCHAR" property="pushToken" />
    <result column="auto_lend_money" jdbcType="DECIMAL" property="autoLendMoney" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    user_id, phone, nickname, real_name, certificate_no, gender, brithday, login_password, 
    trade_password, qq, weixin, fans_count, credit_score, zmxy_score, user_level, financier_level, 
    status, headpic, invite_code, inviter_id, qq_open_id, weixin_unionid, weixin_info, 
    encryptstr, encryptstr1, encryptstr2, last_login_time, last_login_ip, last_login_location, 
    last_login_udid, create_time, update_time, version, follow_count, invite_one_count, 
    invite_two_count, type, inviter_code, is_follow, borrow_flag, invest_flag, user_key, 
    auth_status, push_cid, push_token, auto_lend_money
  </sql>
</mapper>