<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trsd.mapper.UserBankcardChangeMapper">
  <resultMap id="BaseResultMap" type="com.trsd.entities.UserBankcardChange">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="change_id" jdbcType="BIGINT" property="changeId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="original_province" jdbcType="VARCHAR" property="originalProvince" />
    <result column="original_city" jdbcType="VARCHAR" property="originalCity" />
    <result column="original_area" jdbcType="VARCHAR" property="originalArea" />
    <result column="originalbank_name" jdbcType="VARCHAR" property="originalbankName" />
    <result column="original_branch_name" jdbcType="VARCHAR" property="originalBranchName" />
    <result column="original_card_no" jdbcType="VARCHAR" property="originalCardNo" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="branch_name" jdbcType="VARCHAR" property="branchName" />
    <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
    <result column="change_time" jdbcType="TIMESTAMP" property="changeTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    change_id, user_id, original_province, original_city, original_area, originalbank_name, 
    original_branch_name, original_card_no, province, city, area, bank_name, branch_name, 
    card_no, change_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.trsd.entities.UserBankcardChangeExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_bankcardchange
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.trsd.entities.UserBankcardChangeExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from t_user_bankcardchange
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.trsd.entities.UserBankcardChangeExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from t_user_bankcardchange
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update t_user_bankcardchange
    <set>
      <if test="record.changeId != null">
        change_id = #{record.changeId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.originalProvince != null">
        original_province = #{record.originalProvince,jdbcType=VARCHAR},
      </if>
      <if test="record.originalCity != null">
        original_city = #{record.originalCity,jdbcType=VARCHAR},
      </if>
      <if test="record.originalArea != null">
        original_area = #{record.originalArea,jdbcType=VARCHAR},
      </if>
      <if test="record.originalbankName != null">
        originalbank_name = #{record.originalbankName,jdbcType=VARCHAR},
      </if>
      <if test="record.originalBranchName != null">
        original_branch_name = #{record.originalBranchName,jdbcType=VARCHAR},
      </if>
      <if test="record.originalCardNo != null">
        original_card_no = #{record.originalCardNo,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null">
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null">
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null">
        area = #{record.area,jdbcType=VARCHAR},
      </if>
      <if test="record.bankName != null">
        bank_name = #{record.bankName,jdbcType=VARCHAR},
      </if>
      <if test="record.branchName != null">
        branch_name = #{record.branchName,jdbcType=VARCHAR},
      </if>
      <if test="record.cardNo != null">
        card_no = #{record.cardNo,jdbcType=VARCHAR},
      </if>
      <if test="record.changeTime != null">
        change_time = #{record.changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update t_user_bankcardchange
    set change_id = #{record.changeId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      original_province = #{record.originalProvince,jdbcType=VARCHAR},
      original_city = #{record.originalCity,jdbcType=VARCHAR},
      original_area = #{record.originalArea,jdbcType=VARCHAR},
      originalbank_name = #{record.originalbankName,jdbcType=VARCHAR},
      original_branch_name = #{record.originalBranchName,jdbcType=VARCHAR},
      original_card_no = #{record.originalCardNo,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=VARCHAR},
      bank_name = #{record.bankName,jdbcType=VARCHAR},
      branch_name = #{record.branchName,jdbcType=VARCHAR},
      card_no = #{record.cardNo,jdbcType=VARCHAR},
      change_time = #{record.changeTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>