<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trsd.mapper.UserBankcardChangeMapper">
  <resultMap id="BaseResultMap" type="com.trsd.entities.UserBankcardChange">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="change_id" jdbcType="BIGINT" property="changeId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="original_real_name" jdbcType="VARCHAR" property="originalRealName" />
    <result column="original_certificate_no" jdbcType="VARCHAR" property="originalCertificateNo" />
    <result column="original_card_no" jdbcType="VARCHAR" property="originalCardNo" />
    <result column="original_bank_name" jdbcType="VARCHAR" property="originalBankName" />
    <result column="original_abbreviation" jdbcType="VARCHAR" property="originalAbbreviation" />
    <result column="original_province" jdbcType="VARCHAR" property="originalProvince" />
    <result column="original_city" jdbcType="VARCHAR" property="originalCity" />
    <result column="original_area" jdbcType="VARCHAR" property="originalArea" />
    <result column="original_branch_name" jdbcType="VARCHAR" property="originalBranchName" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="certificate_no" jdbcType="VARCHAR" property="certificateNo" />
    <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="abbreviation" jdbcType="VARCHAR" property="abbreviation" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="branch_name" jdbcType="VARCHAR" property="branchName" />
    <result column="change_time" jdbcType="TIMESTAMP" property="changeTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    change_id, user_id, original_real_name, original_certificate_no, original_card_no, 
    original_bank_name, original_abbreviation, original_province, original_city, original_area, 
    original_branch_name, real_name, certificate_no, card_no, bank_name, abbreviation, 
    province, city, area, branch_name, change_time, update_time
  </sql>
</mapper>