<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trsd.mapper.UserInviteDetailMapper">
  <resultMap id="BaseResultMap" type="com.trsd.entities.UserInviteDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_invite_detail_id" jdbcType="BIGINT" property="userInviteDetailId" />
    <result column="user_invite_id" jdbcType="BIGINT" property="userInviteId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="profit" jdbcType="DECIMAL" property="profit" />
    <result column="event_id" jdbcType="BIGINT" property="eventId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    user_invite_detail_id, user_invite_id, type, profit, event_id, create_time
  </sql>
</mapper>