<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trsd.mapper.ViewLendMapper">
  <resultMap id="BaseResultMap" type="com.trsd.entities.ViewLend">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="lend_id" jdbcType="BIGINT" property="lendId" />
    <result column="loan_id" jdbcType="BIGINT" property="loanId" />
    <result column="loan_key" jdbcType="VARCHAR" property="loanKey" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="lend_money" jdbcType="DECIMAL" property="lendMoney" />
    <result column="repayment_interest" jdbcType="DECIMAL" property="repaymentInterest" />
    <result column="repayment_penalty" jdbcType="DECIMAL" property="repaymentPenalty" />
    <result column="repayment_principal" jdbcType="DECIMAL" property="repaymentPrincipal" />
    <result column="payback_interest" jdbcType="DECIMAL" property="paybackInterest" />
    <result column="payback_penalty" jdbcType="DECIMAL" property="paybackPenalty" />
    <result column="payback_principal" jdbcType="DECIMAL" property="paybackPrincipal" />
    <result column="lend_user_type" jdbcType="INTEGER" property="lendUserType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="periods" jdbcType="BIGINT" property="periods" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>
</mapper>