<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trsd.mapper.ViewLoanMapper">
  <resultMap id="BaseResultMap" type="com.trsd.entities.ViewLoan">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="loan_id" jdbcType="BIGINT" property="loanId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="apply_money" jdbcType="DECIMAL" property="applyMoney" />
    <result column="borrowed_money" jdbcType="DECIMAL" property="borrowedMoney" />
    <result column="loan_money" jdbcType="DECIMAL" property="loanMoney" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="limit_time" jdbcType="TIMESTAMP" property="limitTime" />
    <result column="periods" jdbcType="INTEGER" property="periods" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="rate" jdbcType="DECIMAL" property="rate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>
</mapper>