<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trsd.mapper.WeixinConfigMapper">
  <resultMap id="BaseResultMap" type="com.trsd.entities.WeixinConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="weixin_config_id" jdbcType="INTEGER" property="weixinConfigId" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    weixin_config_id, key, value, create_time, update_time, description
  </sql>
</mapper>