<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trsd.mapper.XydBreakLongMapper">
  <resultMap id="BaseResultMap" type="com.trsd.entities.XydBreakLong">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="xyd_break_long_id" jdbcType="BIGINT" property="xydBreakLongId" />
    <result column="loan_payback_id" jdbcType="BIGINT" property="loanPaybackId" />
    <result column="repayment_penalty" jdbcType="DECIMAL" property="repaymentPenalty" />
    <result column="payment_penalty" jdbcType="DECIMAL" property="paymentPenalty" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="version" jdbcType="BIGINT" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    xyd_break_long_id, loan_payback_id, repayment_penalty, payment_penalty, create_time, 
    status, version
  </sql>
</mapper>