<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trsd.mapper.XydBreakshortMapper">
  <resultMap id="BaseResultMap" type="com.trsd.entities.XydBreakshort">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="loan_short_id" jdbcType="BIGINT" property="loanShortId" />
    <result column="xyd_break_short_id" jdbcType="BIGINT" property="xydBreakShortId" />
    <result column="repayment_penalty" jdbcType="DECIMAL" property="repaymentPenalty" />
    <result column="payment_penalty" jdbcType="DECIMAL" property="paymentPenalty" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    loan_short_id, xyd_break_short_id, repayment_penalty, payment_penalty, create_time, 
    version, status
  </sql>
</mapper>